# Table of Contents

## Import Libraries and Data
## Refort Columns
## Derive New Column for Year
## Merge Year Data Sets
## Clean Data
## Explore Data
## Export Data

# Import Libraries and Data

In [1]:
# import libraries
import pandas as pd
import numpy as np
import os
import scipy 
import seaborn as sns
import matplotlib.pyplot as mlp

In [2]:
# create path
path = r'C:\Users\18602\Documents\Data Analytics\Data Immersion\Month 6\A6 Project'

In [3]:
# import each year
df15 = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', '2015.csv'))

In [4]:
df15.shape

(158, 12)

In [5]:
df16 = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', '2016.csv'))

In [6]:
df16.shape

(157, 13)

In [7]:
df17 = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', '2017.csv'))

In [8]:
df17.shape

(155, 12)

In [9]:
df18 = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', '2018.csv'))

In [10]:
df18.shape

(156, 9)

In [11]:
df19 = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', '2019.csv'))

In [12]:
df19.shape

(156, 9)

In [13]:
df20 = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', '2020.csv'))

In [14]:
df20.shape

(153, 20)

In [15]:
df20.columns

Index(['Country name', 'Regional indicator', 'Ladder score',
       'Standard error of ladder score', 'upperwhisker', 'lowerwhisker',
       'Logged GDP per capita', 'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption', 'Ladder score in Dystopia',
       'Explained by: Log GDP per capita', 'Explained by: Social support',
       'Explained by: Healthy life expectancy',
       'Explained by: Freedom to make life choices',
       'Explained by: Generosity', 'Explained by: Perceptions of corruption',
       'Dystopia + residual'],
      dtype='object')

In [95]:
df21 = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', '2021.csv'))

In [97]:
df21.shape

(149, 20)

In [98]:
df22 = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', '2022.csv'))

In [100]:
df22.columns

Index(['RANK', 'Country', 'Happiness score', 'Whisker-high', 'Whisker-low',
       'Dystopia (1.83) + residual', 'Explained by: GDP per capita',
       'Explained by: Social support', 'Explained by: Healthy life expectancy',
       'Explained by: Freedom to make life choices',
       'Explained by: Generosity', 'Explained by: Perceptions of corruption'],
      dtype='object')

# Reformat Columns

In [18]:
#look at 2015 columns
df15.columns

Index(['Country', 'Region', 'Happiness Rank', 'Happiness Score',
       'Standard Error', 'Economy (GDP per Capita)', 'Family',
       'Health (Life Expectancy)', 'Freedom', 'Trust (Government Corruption)',
       'Generosity', 'Dystopia Residual'],
      dtype='object')

In [19]:
# delete columns that are not in 2018 and 2019
df15 = df15.drop(columns = ['Standard Error', 'Dystopia Residual', 'Region'])

In [20]:
# rename columns for ease and consistency
df15.rename(columns = {'Happiness Rank' : 'Rank', 'Happiness Score': 'Score','Economy (GDP per Capita)':'Economy', 'Family':'Social Support', 'Health (Life Expectancy)':'Life Expectancy','Trust (Government Corruption)':'Government Trust'}, inplace = True)

In [21]:
# check rename
df15.columns

Index(['Country', 'Rank', 'Score', 'Economy', 'Social Support',
       'Life Expectancy', 'Freedom', 'Government Trust', 'Generosity'],
      dtype='object')

In [22]:
# reorder columns for append
df15 = df15[['Rank','Country','Score','Economy','Social Support','Life Expectancy','Freedom','Government Trust','Generosity']]

In [23]:
# check output
df15.head()

,Rank,Country,Score,Economy,Social Support,Life Expectancy,Freedom,Government Trust,Generosity
0,1,Switzerland,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678
1,2,Iceland,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630
2,3,Denmark,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139
3,4,Norway,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699
4,5,Canada,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811

In [24]:
# check 2016 columns
df16.columns

Index(['Country', 'Region', 'Happiness Rank', 'Happiness Score',
       'Lower Confidence Interval', 'Upper Confidence Interval',
       'Economy (GDP per Capita)', 'Family', 'Health (Life Expectancy)',
       'Freedom', 'Trust (Government Corruption)', 'Generosity',
       'Dystopia Residual'],
      dtype='object')

In [25]:
# delete columns that are not in 2018 and 2019
df16 = df16.drop(columns = ['Lower Confidence Interval', 'Upper Confidence Interval', 'Region', 'Dystopia Residual'])

In [26]:
# rename columns for ease and consistency
df16.rename(columns = {'Happiness Rank' : 'Rank', 'Happiness Score': 'Score','Economy (GDP per Capita)':'Economy', 'Family':'Social Support', 'Health (Life Expectancy)':'Life Expectancy','Trust (Government Corruption)':'Government Trust'}, inplace = True)

In [27]:
# reorder columns for merge
df16 = df16[['Rank','Country','Score','Economy','Social Support','Life Expectancy','Freedom','Government Trust','Generosity']]

In [28]:
# check output
df16.head()

,Rank,Country,Score,Economy,Social Support,Life Expectancy,Freedom,Government Trust,Generosity
0,1,Denmark,7.526,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171
1,2,Switzerland,7.509,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083
2,3,Iceland,7.501,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678
3,4,Norway,7.498,1.57744,1.12690,0.79579,0.59609,0.35776,0.37895
4,5,Finland,7.413,1.40598,1.13464,0.81091,0.57104,0.41004,0.25492

In [29]:
df17.columns

Index(['Country', 'Happiness.Rank', 'Happiness.Score', 'Whisker.high',
       'Whisker.low', 'Economy..GDP.per.Capita.', 'Family',
       'Health..Life.Expectancy.', 'Freedom', 'Generosity',
       'Trust..Government.Corruption.', 'Dystopia.Residual'],
      dtype='object')

In [30]:
# delete unnecessary columns
df17 = df17.drop(columns = ['Whisker.high','Whisker.low','Dystopia.Residual'])

In [31]:
# rename columns
df17.rename(columns = {'Happiness.Rank' : 'Rank', 'Happiness.Score':'Score', 'Family':'Social Support','Economy..GDP.per.Capita.': 'Economy', 'Health..Life.Expectancy.':'Life Expectancy', 'Trust..Government.Corruption.': 'Government Trust'}, inplace = True)

In [32]:
# reorder columns
df17 = df17[['Rank','Country','Score','Economy','Social Support','Life Expectancy','Freedom','Government Trust','Generosity']]

In [33]:
# check output
df17.head()

,Rank,Country,Score,Economy,Social Support,Life Expectancy,Freedom,Government Trust,Generosity
0,1,Norway,7.537,1.616463,1.533524,0.796667,0.635423,0.315964,0.362012
1,2,Denmark,7.522,1.482383,1.551122,0.792566,0.626007,0.400770,0.355280
2,3,Iceland,7.504,1.480633,1.610574,0.833552,0.627163,0.153527,0.475540
3,4,Switzerland,7.494,1.564980,1.516912,0.858131,0.620071,0.367007,0.290549
4,5,Finland,7.469,1.443572,1.540247,0.809158,0.617951,0.382612,0.245483

In [34]:
# check columns
df18.columns

Index(['Overall rank', 'Country or region', 'Score', 'GDP per capita',
       'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption'],
      dtype='object')

In [35]:
# rename columns
df18.rename(columns = {'Overall rank': 'Rank', 'Social support':'Social Support', 'Country or region': 'Country', 'GDP per capita': 'Economy', 'Freedom to make life choices': 'Freedom', 'Perceptions of corruption': 'Government Trust', 'Healthy life expectancy': 'Life Expectancy'}, inplace = True)

In [36]:
# reorder columns
df18 = df18[['Rank','Country','Score','Economy','Social Support','Life Expectancy','Freedom','Government Trust','Generosity']]

In [37]:
# check output
df18.head()

,Rank,Country,Score,Economy,Social Support,Life Expectancy,Freedom,Government Trust,Generosity
0,1,Finland,7.632,1.305,1.592,0.874,0.681,0.393,0.202
1,2,Norway,7.594,1.456,1.582,0.861,0.686,0.340,0.286
2,3,Denmark,7.555,1.351,1.590,0.868,0.683,0.408,0.284
3,4,Iceland,7.495,1.343,1.644,0.914,0.677,0.138,0.353
4,5,Switzerland,7.487,1.420,1.549,0.927,0.660,0.357,0.256

In [38]:
df19.columns

Index(['Overall rank', 'Country or region', 'Score', 'GDP per capita',
       'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption'],
      dtype='object')

In [39]:
# rename columns
df19.rename(columns = {'Overall rank': 'Rank', 'Country or region': 'Country','GDP per capita': 'Economy', 'Social support':'Social Support', 'Healthy life expectancy': 'Life Expectancy', 'Freedom to make life choices': 'Freedom', 'Perceptions of corruption':'Government Trust'}, inplace = True)

In [40]:
# reorder columns
df19 = df19[['Rank','Country','Score','Economy','Social Support','Life Expectancy','Freedom','Government Trust','Generosity']]

In [41]:
# check output
df19.head()

,Rank,Country,Score,Economy,Social Support,Life Expectancy,Freedom,Government Trust,Generosity
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.393,0.153
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.410,0.252
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.341,0.271
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.118,0.354
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.298,0.322

In [42]:
#check columns
df20.columns

Index(['Country name', 'Regional indicator', 'Ladder score',
       'Standard error of ladder score', 'upperwhisker', 'lowerwhisker',
       'Logged GDP per capita', 'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption', 'Ladder score in Dystopia',
       'Explained by: Log GDP per capita', 'Explained by: Social support',
       'Explained by: Healthy life expectancy',
       'Explained by: Freedom to make life choices',
       'Explained by: Generosity', 'Explained by: Perceptions of corruption',
       'Dystopia + residual'],
      dtype='object')

In [43]:
# drop columns
df20 = df20.drop(columns = ['Regional indicator', 'Standard error of ladder score', 'upperwhisker', 'lowerwhisker', 'Ladder score in Dystopia', 'Explained by: Log GDP per capita', 'Explained by: Social support', 'Explained by: Healthy life expectancy', 'Explained by: Freedom to make life choices', 'Explained by: Generosity', 'Explained by: Perceptions of corruption'])

In [44]:
df20 = df20.drop(columns = ['Dystopia + residual'])

In [45]:
df20['Rank'] = range(1, len(df20) + 1)

In [46]:
df20.columns

Index(['Country name', 'Ladder score', 'Logged GDP per capita',
       'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption', 'Rank'],
      dtype='object')

In [63]:
# rename columns
df20.rename(columns = {'Country name': 'Country','Ladder score': 'Score','Logged GDP per capita': 'Economy', 'Social support':'Social Support', 'Healthy life expectancy':'Life Expectancy','Freedom to make life choices':'Freedom','Perceptions of corruption':'Government Trust'}, inplace = True)

In [64]:
# reorder columns
df20 = df20[['Rank','Country','Score','Economy','Social Support','Life Expectancy','Freedom','Government Trust','Generosity']]

In [65]:
# check output
df20.head()

,Rank,Country,Score,Economy,Social Support,Life Expectancy,Freedom,Government Trust,Generosity
0,1,Finland,7.8087,10.639267,0.954330,71.900825,0.949172,0.195445,-0.059482
1,2,Denmark,7.6456,10.774001,0.955991,72.402504,0.951444,0.168489,0.066202
2,3,Switzerland,7.5599,10.979933,0.942847,74.102448,0.921337,0.303728,0.105911
3,4,Iceland,7.5045,10.772559,0.974670,73.000000,0.948892,0.711710,0.246944
4,5,Norway,7.4880,11.087804,0.952487,73.200783,0.955750,0.263218,0.134533

In [101]:
# check columns
df21.columns

Index(['Country name', 'Regional indicator', 'Ladder score',
       'Standard error of ladder score', 'upperwhisker', 'lowerwhisker',
       'Logged GDP per capita', 'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption', 'Ladder score in Dystopia',
       'Explained by: Log GDP per capita', 'Explained by: Social support',
       'Explained by: Healthy life expectancy',
       'Explained by: Freedom to make life choices',
       'Explained by: Generosity', 'Explained by: Perceptions of corruption',
       'Dystopia + residual'],
      dtype='object')

In [102]:
# delete unnecessary columns
df21 = df21.drop(columns = ['Regional indicator', 'Standard error of ladder score', 'upperwhisker', 'lowerwhisker', 'Ladder score in Dystopia', 'Explained by: Log GDP per capita', 'Explained by: Social support', 'Explained by: Healthy life expectancy', 'Explained by: Freedom to make life choices', 'Explained by: Generosity', 'Explained by: Perceptions of corruption','Dystopia + residual'])

In [111]:
# rename columns
df21.rename(columns = {'Country name' : 'Country', 'Ladder score': 'Score', 'Logged GDP per capita': 'Economy', 'Social support': 'Social Support', 'Healthy life expectancy': 'Life Expectancy', 'Freedom to make life choices':'Freedom','Perceptions of corruption':'Government Trust'}, inplace = True)

In [112]:
# add rank index
df21['Rank'] = range(1, len(df21) + 1)

In [113]:
# reorder columns
df21[['Rank','Country','Score','Economy','Social Support','Life Expectancy','Freedom','Government Trust','Generosity']]

,Rank,Country,Score,Economy,Social Support,Life Expectancy,Freedom,Government Trust,Generosity
0,1,Finland,7.842,10.775,0.954,72.000,0.949,0.186,-0.098
1,2,Denmark,7.620,10.933,0.954,72.700,0.946,0.179,0.030
2,3,Switzerland,7.571,11.117,0.942,74.400,0.919,0.292,0.025
3,4,Iceland,7.554,10.878,0.983,73.000,0.955,0.673,0.160
4,5,Netherlands,7.464,10.932,0.942,72.400,0.913,0.338,0.175
...,...,...,...,...,...,...,...,...,...
144,145,Lesotho,3.512,7.926,0.787,48.700,0.715,0.915,-0.131
145,146,Botswana,3.467,9.782,0.784,59.269,0.824,0.801,-0.246
146,147,Rwanda,3.415,7.676,0.552,61.400,0.897,0.167,0.061
147,148,Zimbabwe,3.145,7.943,0.750,56.201,0.677,0.821,-0.047
148,149,Afghanistan,2.523,7.695,0.463,52.493,0.382,0.924,-0.102

# Derive New Column for Year

In [66]:
# add column year to df15
df15['Year'] = 2015

In [67]:
# check output
df15['Year'].describe()

count     158.0
mean     2015.0
std         0.0
min      2015.0
25%      2015.0
50%      2015.0
75%      2015.0
max      2015.0
Name: Year, dtype: float64

In [68]:
# add year column to 2016
df16['Year'] = 2016

In [69]:
df16.head()

,Rank,Country,Score,Economy,Social Support,Life Expectancy,Freedom,Government Trust,Generosity,Year
0,1,Denmark,7.526,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171,2016
1,2,Switzerland,7.509,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083,2016
2,3,Iceland,7.501,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678,2016
3,4,Norway,7.498,1.57744,1.12690,0.79579,0.59609,0.35776,0.37895,2016
4,5,Finland,7.413,1.40598,1.13464,0.81091,0.57104,0.41004,0.25492,2016

In [70]:
df17['Year'] = 2017

In [71]:
# check output
df17.head()

,Rank,Country,Score,Economy,Social Support,Life Expectancy,Freedom,Government Trust,Generosity,Year
0,1,Norway,7.537,1.616463,1.533524,0.796667,0.635423,0.315964,0.362012,2017
1,2,Denmark,7.522,1.482383,1.551122,0.792566,0.626007,0.400770,0.355280,2017
2,3,Iceland,7.504,1.480633,1.610574,0.833552,0.627163,0.153527,0.475540,2017
3,4,Switzerland,7.494,1.564980,1.516912,0.858131,0.620071,0.367007,0.290549,2017
4,5,Finland,7.469,1.443572,1.540247,0.809158,0.617951,0.382612,0.245483,2017

In [72]:
df18['Year'] = 2018

In [73]:
df18.head()

,Rank,Country,Score,Economy,Social Support,Life Expectancy,Freedom,Government Trust,Generosity,Year
0,1,Finland,7.632,1.305,1.592,0.874,0.681,0.393,0.202,2018
1,2,Norway,7.594,1.456,1.582,0.861,0.686,0.340,0.286,2018
2,3,Denmark,7.555,1.351,1.590,0.868,0.683,0.408,0.284,2018
3,4,Iceland,7.495,1.343,1.644,0.914,0.677,0.138,0.353,2018
4,5,Switzerland,7.487,1.420,1.549,0.927,0.660,0.357,0.256,2018

In [74]:
df19['Year'] = 2019

In [75]:
df19.head()

,Rank,Country,Score,Economy,Social Support,Life Expectancy,Freedom,Government Trust,Generosity,Year
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.393,0.153,2019
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.410,0.252,2019
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.341,0.271,2019
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.118,0.354,2019
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.298,0.322,2019

In [76]:
df20['Year'] = 2020

In [77]:
df20.head()

,Rank,Country,Score,Economy,Social Support,Life Expectancy,Freedom,Government Trust,Generosity,Year
0,1,Finland,7.8087,10.639267,0.954330,71.900825,0.949172,0.195445,-0.059482,2020
1,2,Denmark,7.6456,10.774001,0.955991,72.402504,0.951444,0.168489,0.066202,2020
2,3,Switzerland,7.5599,10.979933,0.942847,74.102448,0.921337,0.303728,0.105911,2020
3,4,Iceland,7.5045,10.772559,0.974670,73.000000,0.948892,0.711710,0.246944,2020
4,5,Norway,7.4880,11.087804,0.952487,73.200783,0.955750,0.263218,0.134533,2020

In [117]:
df21['Year'] = 2021

# Merge Year Data Sets

In [118]:
# combine dataframes
frames = [df15, df16, df17, df18, df19, df20, df21]

In [119]:
# concat data
dfhappy = pd.concat(frames)

In [120]:
dfhappy.shape

(1084, 10)

In [121]:
dfhappy.columns

Index(['Rank', 'Country', 'Score', 'Economy', 'Social Support',
       'Life Expectancy', 'Freedom', 'Government Trust', 'Generosity', 'Year'],
      dtype='object')

In [122]:
dfhappy.head()

,Rank,Country,Score,Economy,Social Support,Life Expectancy,Freedom,Government Trust,Generosity,Year
0,1,Switzerland,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2015
1,2,Iceland,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2015
2,3,Denmark,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2015
3,4,Norway,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2015
4,5,Canada,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2015

In [123]:
dfhappy['Year'].value_counts()

2015    158
2016    157
2018    156
2019    156
2017    155
2020    153
2021    149
Name: Year, dtype: int64

# Clean Data

In [124]:
# check for duplicates
df_dups = dfhappy[dfhappy.duplicated()]

In [125]:
# check duplicates
df_dups.head()

Empty DataFrame
Columns: [Rank, Country, Score, Economy, Social Support, Life Expectancy, Freedom, Government Trust, Generosity, Year]
Index: []

In [126]:
# check for nulls
dfhappy.isnull().sum()

Rank                0
Country             0
Score               0
Economy             0
Social Support      0
Life Expectancy     0
Freedom             0
Government Trust    1
Generosity          0
Year                0
dtype: int64

In [127]:
# check dtypes
dfhappy.dtypes

Rank                  int64
Country              object
Score               float64
Economy             float64
Social Support      float64
Life Expectancy     float64
Freedom             float64
Government Trust    float64
Generosity          float64
Year                  int64
dtype: object

In [128]:
# check dtypes for consistency
for col in dfhappy.columns.tolist():
  weird = (dfhappy[[col]].applymap(type) != dfhappy[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (dfhappy[weird]) > 0:
    print (col)

# Explore Data

In [129]:
# get descriptive statistics on data set to check for outliers 
dfhappy.describe()

,Rank,Score,Economy,Social Support,Life Expectancy,Freedom,Government Trust,Generosity,Year
count,1084.000000,1084.000000,1084.000000,1084.000000,1084.000000,1084.000000,1083.000000,1084.000000,1084.000000
mean,77.950185,5.413460,3.269365,1.004091,18.471404,0.515936,0.294111,0.153545,2017.968635
std,44.766196,1.118595,3.854953,0.310650,28.981743,0.221478,0.300707,0.167592,1.995594
min,1.000000,2.523000,0.000000,0.000000,0.000000,0.000000,0.000000,-0.300907,2015.000000
25%,39.000000,4.571000,0.780500,0.805747,0.552500,0.366947,0.068178,0.064828,2016.000000
50%,78.000000,5.385150,1.170350,0.948000,0.773948,0.502269,0.136957,0.162140,2018.000000
75%,117.000000,6.216125,7.640969,1.247028,54.707750,0.658436,0.500726,0.252000,2020.000000
max,158.000000,7.842000,11.647000,1.644000,76.953000,0.974998,0.939000,0.838075,2021.000000

In [130]:
dfhappy.shape

(1084, 10)

# Export Data

In [131]:
# export to csv
dfhappy.to_csv(os.path.join(path, '02 Data','Prepared Data', 'dfhappy_clean.csv'))